In [3]:
from google.cloud.bigquery import *
import pandas as pd

In [5]:
from utils.bqutils import connect

In [6]:
client = connect('bqresearch')

In [10]:
info_schema = client.query('''
SELECT table_catalog,table_schema,table_name, column_name, ordinal_position
FROM staging.INFORMATION_SCHEMA.COLUMNS;
''').to_dataframe()

In [11]:
info_schema.itertuples(

,table_catalog,table_schema,table_name,column_name,ordinal_position
0,coviddatail,staging,covid19_by_area,_id,1
1,coviddatail,staging,covid19_by_area,town_code,2
2,coviddatail,staging,covid19_by_area,agas_code,3
3,coviddatail,staging,covid19_by_area,town,4
4,coviddatail,staging,covid19_by_area,date,5
...,...,...,...,...,...
732,coviddatail,staging,breatheByPeriodAndAgeAndGender,batch_date,8
733,coviddatail,staging,testsPerDate,date,1
734,coviddatail,staging,testsPerDate,numResultsForVirusDiagnosis,2
735,coviddatail,staging,testsPerDate,numAntigenOfficialTest,3
736,coviddatail,staging,testsPerDate,batch_date,4

In [39]:
ci = CatalogIndex(info_schema)

In [40]:
dir(ci)

['coviddatail']

In [45]:
ci.coviddatail.staging.death_report_1.age_25_29

'age_25_29'